<div class="modal-header">
    <h2>Ajouter des compétences à la mission : {{ mission.nomM }}</h2>
    <button class="btn-close" (click)="bsModalRef.hide()" aria-label="Fermer"></button>
  </div>
  
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Compétence</label>
        <select [(ngModel)]="selectedCompetence" [ngModelOptions]="{standalone: true}" class="form-control">
          <option *ngFor="let competence of competences" [value]="competence.idC">{{ competence.nomCfr }}</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary mt-4" (click)="addCompetence()">Ajouter</button>
    </form>
  </div>