<div class="container mt-4">
  <h2>Recommandation de Personnel</h2>

  <div *ngIf="isLoading" class="mt-3">Chargement...</div>
  <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>

  <table *ngIf="recommendedPersonnel.length > 0" class="table mt-4">
    <thead>
      <tr>
        <th>ID</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Compétence</th>
        <th>Niveau</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of recommendedPersonnel; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ person.prenom }}</td>
        <td>{{ person.nom }}</td>
        <td>{{ person.competence || "Aucune compétence" }}</td>
        <td>{{ person.aptitude }}</td>
        <td>
          <button class="btn btn-sm" 
                [ngClass]="person.assigned ? 'btn-light text-success border-success' : 'btn-success'" 
                [disabled]="person.assigned" 
                (click)="assignPersonnel(person)">
             {{ person.assigned ? "Assigné" : "Ajouter" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!isLoading && recommendedPersonnel.length === 0 && !errorMessage">
    Aucune recommandation trouvée.
  </p>
</div>
