<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">
                    Accueil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/personnel" routerLinkActive="text-dark">
                    Personnels
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/missions" routerLinkActive="text-dark">
                    Missions
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/personnel-recommendation" routerLinkActive="text-dark">
                    Recommandation de Personnels
                </a>
            </li>
        </ul>
    </div>
</nav>