<div class="container mt-4">
  <!-- Formulaire de connexion -->
  <div class="card p-4 shadow-sm" style="max-width: 900px; margin: auto;">
    <h2 class="text-center text-primary mb-4">Connexion d'un utilisateur</h2>
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label class="fw-bold">Email</label>
            <input type="email" class="form-control" placeholder="Entrer l'émail" [(ngModel)]="emailU" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label class="fw-bold">Mot de passe</label>
            <input type="password" class="form-control" placeholder="Entrer le mot de passe" [(ngModel)]="mdpU" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary w-100 mt-3 p-2" (click)="save()">Enregistrer</button>
    </form>
  </div>