<div class="container mt-4">
  <div class="card">
      <h1>Enregistrement d'une mission</h1>
      <form>
          <div class="form-group">
              <label>Nom de la mission</label>
              <input type="text" [(ngModel)]="nomM" [ngModelOptions]="{standalone: true}" class="form-control" id="nomM" placeholder="Entrer le nom">
          </div>
          <div class="form-group">
              <label>Description de la mission</label>
              <input type="text" [(ngModel)]="descriptionM" [ngModelOptions]="{standalone: true}" class="form-control" id="descriptionM" placeholder="Entrer la description">
          </div>
          <div class="form-group">
              <label>Date de début</label>
              <input type="date" [(ngModel)]="dateDebutM" [ngModelOptions]="{standalone: true}" class="form-control" id="dateDebutM">
          </div>
          <div class="form-group">
              <label>Date de fin</label>
              <input type="date" [(ngModel)]="dateFinM" [ngModelOptions]="{standalone: true}" class="form-control" id="dateFinM">
          </div>
          <div class="form-group">
              <label>Anomalie</label>
              <input type="text" [(ngModel)]="anomalieM" [ngModelOptions]="{standalone: true}" class="form-control" id="anomalieM" placeholder="Entrer l'anomalie (optionnel)">
          </div>
          <button type="button" class="btn btn-primary mt-4" (click)="save()">Enregistrer</button>
      </form>
  </div>
</div>